* {
  /* resetando todos os seletores e atribuindo as caixas de acordo com a borda */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/backGroud.jpeg);
  padding: 20px;

  height: 100vh;
}

main {
  padding: 20px;
  width: 100%;
  max-width: 588px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  text-align: center;
  border-width: medium;
  border-style: solid;
  border-color: #5bd9c2;
  margin: 200px auto;
  box-shadow: 5px 5px 2px gray;
}

h1 {
  color: #82d9d0;
}

#paragraph-result {
  margin-top: 20px;
}

input {
  border-radius: 10px;
  margin-top: 5px;
  width: 100px;
  text-align: center;
  border-color: #5bd9c2;
}

button {
  border-radius: 10px;
  border-color: #5bd9c2;
  text-align: center;
  background-color: #5bd9c2;
  color: white;
}
